@model List<Equipments>
@{
    ViewBag.Title = "Каталог";
}

<div class="catalog">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light p-1 d-flex flex-column">
                <form action="~/Catalog/Filter" method="post" >
                    <ul class="nav nav-pills nav-fill justify-content-around inwi">
                        <li class="nav-item ml-2">
                            <input type="submit" class="btn btn-success" name="category" value="Новый">
                        </li>
                        <li class="nav-item ml-2">
                            <input type="submit" name="category" class="btn btn-warning" value="Уцененный">
                        </li>
                        <li class="nav-item ml-2">
                            <input type="submit" class="btn btn-dark" name="category" value="ВсяТехника">
                        </li>
                        <li class="nav-item ml-2">
                            <input type="submit" class="btn btn-danger" name="category" value="Отечественная">
                        </li>

                    </ul>
                    <div class="form-inline ml-2 mt-2 d-flex justify-content-center" >
                        <input type="number" class="form-control mr-sm-2" name="searchfromcost" id="searchfromcost" placeholder="Поиск по цене от...">
                        <input type="submit" name="btn-submit-filter" class="btn btn-info" value="Найти">
                    </div>
                </form>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa fa-filter" aria-hidden="true"></i> Фильтры</span>
            </button>
        </nav>
    </div>
    <div class="catalog-content mb-3">
        <div class="row h-100 justify-content-center" style="margin-left:0;margin-right:0;">
            @foreach (var eq in Model)
            {
                if (Model.Count == 0)
                {
                    <h1 style="padding:100px;color:white">Ничего не найдено!</h1>
                    break;
                }
                else
                {
                    <div class="col-sm-6">
                        <div class="card">
                            @if (eq.StateEquipment == "Уценка")
                            {
                                <div class="bg-warning w-100">Уценка 25%!</div>
                            }
                            <img src="~/Images/EquipmentsPhoto/@eq.imageEquipmentPath" class="card-img-top" alt="..." width="200" height="200">
                            <div class="card-body">
                                <h5 class="card-title">@eq.Name     @((float)eq.Cost) р.</h5>
                                <p class="card-text">@eq.Description</p>
                                <a href="~/Catalog/Equip/@eq.idEquipment" class="btn btn-primary">Подробнее...</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        
    </div>
</div>