@font-face {
    font-family: 'Google Sans';
    src: local('Google Sans Regular'), local('GoogleSans-Regular'),
        url('GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


