@{ 
    ViewBag.Title = "Новости";
}
<div class="news">
    <div class="container">
        <div class="news-content">
            <div class="photo-news">
                <img src="~/Images/NewsPhoto.png" alt="" width="100%" height="100%">
            </div>
            <div class="news-text">
                <h2>Новости сайта</h2>
                <span>
                    <p><b>01.04.2020</b></p>
                    Сайт теперь доступен для всех пользователей. Добавлен весь каталог. Фильтры и прочее.
                    Можно совершить онлайн покупку, после регистрации или авторизации.
                </span>
            </div>
        </div>
    </div>
</div>

