@{ 
    ViewBag.Title = "Новости";
}
<div class="news">
    <div class="container">
        <div class="news-content">
            <div class="photo-news">
                <img src="../main-background.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="news-text">
                <h2>Главное</h2>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ea commodi optio asperiores et. Earum amet delectus eius, at autem magni, sit quod consequuntur enim optio eligendi natus sint quidem.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur libero quam quia, eos voluptates vitae odit error, iusto repellendus dignissimos eligendi, magnam eius ab. Modi quidem nam at ipsa hic.
                </span>
            </div>
        </div>
    </div>
</div>

